.center {
    background-color: grey;
    margin: auto;
    width: 50%;
    height: 50%;
    margin-top: 100px;
    text-align: center;
    padding: 10px
}

.my-flex {
    display: flex;
    justify-content: center;
}

.left {
    margin-right: 5px;
}

.right {
    margin-left: 5px;
}